@model OrderViewModel
@{
    ViewData["Title"] = "Card Items";
}

<!-- breadcrumb -->
<div class="container m-t-70">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
            Anasayfa
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            Alışveriş Sepeti
        </span>
    </div>
</div>


<!-- Shoping Cart -->
<div class="bg0 p-t-75 p-b-85">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">
                        <table class="table-shopping-cart">
                            <tr class="table_head">
                                <th class="column-1 text-start">Ürün</th>
                                <th class="column-2 text-start">Ürün Adı</th>
                                <th class="column-3 text-center">Fiyat</th>
                                <th class="column-4 text-center">Adet</th>
                                <th class="column-5 text-end">Toplam</th>
                                <th></th>
                            </tr>

                            @if (Model.CartItems != null && Model.CartItems!.Count() != 0)
                            {
                                @foreach (var item in Model.CartItems)
                                {
                                    <tr class="table_row">
                                        <td class="column-1">
                                            <div class="how-itemcart1 mx-4">
                                                <img src="/assets/img/item-cart-04.jpg" alt="IMG">
                                            </div>
                                        </td>
                                        @if (item.ProductFk != null)
                                        {
                                            <td class="column-2">
                                                <a asp-action="ProductDetail" asp-Controller="Home"
                                                    asp-route-id="@item.                                ProductId">
                                                    @item.ProductFk.Name
                                                </a>
                                            </td>
                                            <td class="column-3">@item.ProductFk.Price ₺</td>
                                        }
                                        <td class="column-4">
                                            <form asp-action="Edit" asp-Controller="Cart" method="post" class="quantityForms">
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" asp-for="@item.Id" />
                                                <input type="hidden" asp-for="@item.ProductId" />
                                                <input type="hidden" asp-for="@item.UserId" />

                                                <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                                    <div
                                                        class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m                                 minusButton">
                                                        <a> <i class="fs-16 zmdi zmdi-minus"></i></a>
                                                    </div>
                                                    <input asp-for="@item.Quantity" value="@item.Quantity"
                                                        id="quantity_@item.                              Id"
                                                        class="mtext-104 cl3 txt-center num-product Quantity" />

                                                    <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m plusButton"
                                                        data-item-id="@item.Id">
                                                        <a><i class="fs-16 zmdi zmdi-plus"></i> </a>
                                                    </div>
                                                </div>
                                            </form>
                                        </td>

                                        @if (item.ProductFk != null)
                                        {
                                            <td class="column-5 text-center">@(item.ProductFk.Price * item.Quantity) ₺</td>
                                        }
                                        <td>
                                            <form asp-action="Delete" asp-Controller="Cart" method="post">
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" asp-for="@item.Id" />
                                                <input type="submit" value="X" class="btn btn-outline-danger p-3  mx-4" />
                                            </form>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <div class="alert alert-secondary w-100" rowspan="1">
                                    Sepetinizde ürün yok !
                                </div>
                            }
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">


                    <h4 class="mtext-109 cl2 p-b-30">
                        Sipariş Özeti
                    </h4>

                    <div class="flex-w flex-t bor12 p-b-13">
                        <div class="size-208">
                            <span class="stext-110 cl2">
                                Toplam :
                            </span>
                        </div>

                        <div class="size-209">
                            <span class="mtext-110 cl2">
                                @if (Model.CartItems != null)
                                {
                                    @Model.CartItems.Sum(cart => cart.Quantity * cart.ProductFk!.Price)
                                }
                                ₺
                            </span>
                        </div>
                    </div>
                    <form id="orderForm" asp-action="Create" asp-Controller="Order" method="post">
                        @Html.AntiForgeryToken()
                        <div class="flex-w flex-t bor12 p-t-15 p-b-30">
                            <div class="form-group" style="width: 100% !important;">
                                <label asp-for="Address" class="control-label"></label>
                                <textarea id="Address" name="Address" class="form-control"
                                    style="min-height:100px !important;"></textarea>
                                <span id="addressError" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="flex-w flex-t p-t-27 p-b-33">
                            <div class="size-208">
                                <span class="mtext-101 cl2">Toplam :</span>
                            </div>
                            <div class="size-209 p-t-1">
                                <span class="mtext-110 cl2">
                                    @if (Model.CartItems != null)
                                    {
                                        @Model.CartItems.Sum(cart => cart.Quantity * cart.ProductFk!.Price)
                                    }
                                    ₺
                                </span>
                            </div>
                        </div>
                        <input type="submit" value="Sepeti Onayla"
                            class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(document).on('click', '.plusButton', function (event) {
                event.preventDefault();
                var currentValue = parseInt($(this).closest('.quantityForms').find('.Quantity').val());
                $(this).closest('.quantityForms').find('.Quantity').val(currentValue + 1);
                $(this).closest('form').submit();
            });

            $(document).on('click', '.minusButton', function (event) {
                event.preventDefault();
                var currentValue = parseInt($(this).closest('.quantityForms').find('.Quantity').val());
                if (currentValue > 1) {
                    $(this).closest('.quantityForms').find('.Quantity').val(currentValue);
                }
                $(this).closest('form').submit();
            });
            $(document).on('submit', '#orderForm', function (event) {
                var address = $("#Address").val();
                if ($.trim(address) === "") {
                    $("#addressError").text("Adres alanı boş bırakılamaz.");
                    event.preventDefault(); // Formun gönderilmesini engelle
                } else {
                    $("#addressError").text("");
                }
            });
        });
    </script>
}