@model Product
@{
    ViewData["Title"] = "Delete Product";
}
<div class="container mt-5 pt-5">
    <h2>@ViewData["Title"]</h2>
    <hr>
    <div class="row">
        <div class="col-4">
            @if (!Model.ProductImages.Any())
            {
                <img src="https://via.placeholder.com/300x300" alt="Ürun resmi">
            }
            else
            {
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                        <div class="slick3 gallery-lb">
                            @if (Model.ProductImages != null && Model.ProductImages.Any())
                            {
                                @foreach (var img in Model.ProductImages)
                                {
                                    <div class="item-slick3" data-thumb="/assets/img/@img.Url">
                                        <div class="wrap-pic-w pos-relative">
                                            <img src="/assets/img/@img.Url">

                                            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                                href="/assets/img/@img.Url">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-6">
            <h4>Silinecek Ürün Bilgileri</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dt class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dt>
                <dd class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Price)
                </dd>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Details)
                </dt>
                <dt class="col-sm-9 border overflow-scroll" style="min-height: 70px !important;">
                    @Html.Raw(Model.Details)
                </dt>
                <dd class="col-sm-3">
                    @Html.DisplayNameFor(model => model.StockAmount)
                </dd>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.StockAmount)
                </dd>
                <dd class="col-sm-3">
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </dd>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CreatedAt)
                </dd>
                <dd class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Enabled)
                </dd>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Enabled)
                </dd>
                <dt class="col-sm-3">
                    Satıcı
                    @Html.DisplayNameFor(model => model.SellerFk!.Email)
                </dt>
                <dt class="col-sm-9">
                    @Html.DisplayFor(model => model.SellerFk!.Email)
                </dt>
                <dd class="col-sm-3">
                    @Html.DisplayNameFor(model => model.CategoryFk!.Name)
                </dd>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CategoryFk!.Name)
                </dd>
                <dd class="col-sm-3">
                    Comment Count
                </dd>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ProductComments.Count)
                </dd>
                <dd class="col-sm-3">
                    Order Count
                </dd>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.OrderItems.Count)
                </dd>
                <dd class="col-sm-3">
                    Cart Count
                </dd>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CartItems.Count)
                </dd>
            </dl>

            <form asp-action="Delete">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Sil" class="btn btn-outline-danger" /> |
                <a asp-action="Index">Listeye Dön</a>
            </form>
        </div>
    </div>
</div>