@inject Microsoft.Extensions.Options.IOptions<FileDownloadConfigModels> fileOptions
@model IEnumerable<AdminProductListDTO>
@{
    var options = fileOptions.Value;
}
<div class="container mt-5 pt-5" style="min-height: 70vh !important;">
    <h2>Ürün Listesi</h2>

    <div class="row">
        <div class="col my-3">
            <a asp-action="Create" class="btn btn-outline-primary">Yeni Ekle</a>
        </div>
        <div class="col">
            @* <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="/Admin/Products/Index">
            <input id="ara" name="search" type="search" class="form-control form-control-dark" placeholder="Ara..."
            aria-label="Search">
            </form> *@
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ImageUrlList)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Details)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Enabled)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CommentCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CartCount)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (!item.ImageUrlList.Any())
                            {
                                <img src="https://via.placeholder.com/65x65" alt="Ürun resmi">
                            }
                            else
                            {
                                @* <img src="@(ViewBag.HostAdress + item.ImageUrlList[0])" width="65px;"> *@
                                <img src="@(@options.BaseUrl + item.ImageUrlList[0])" width="65px;">
                            }
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            <div class="overflow-scroll" style="width: 200px; max-height: 90px !important;">
                                @Html.Raw(item.Details)
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StockAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Enabled)
                        </td>
                        <td>
                            <div class="badge badge-primary" style="background-color:@(item.CategoryColor);">
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CommentCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CartCount)
                        </td>
                        <td>
                            <a class="btn btn-sm btn-@(item.IsConfirmed ? "primary" : "danger disabled") btn-m"
                                asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>

                            <a class="btn btn-outline-danger btn-m" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="alert alert-secondary p-4" colspan="13" role="alert">
                        <i class="fa-solid fa-exclamation"></i>
                        Gösterilecek ürününüz yok!
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
