@model IEnumerable<Role>
@{
    ViewData["Title"] = "List of Role";
}
<h1>@ViewData["Title"]</h1>




<div class="row border ">
    <div class="col-1 border p-4 bg-secondary text-white">ROL</div>
    <div class="col-11 border p-4 bg-secondary text-white">
        <div class="row">
            <div class="col-2">FirstName</div>
            <div class="col-2">LastName</div>
            <div class="col-2">Email</div>
            <div class="col-2">CreatedAt</div>
        </div>
    </div>
</div>
@foreach (var item in Model)
{

    <div class="row border ">
    <div class="col-1 border p-2 bg-secondary text-white text-rotate">
        <div>@Html.DisplayFor(modelItem => item.Name) </div>
        <div>( @Html.DisplayFor(modelItem => item.Users.Count))</div>
    </div>
    <div class="col-11" style="font-size: 15px !important;">

        @foreach (var user in item.Users)
            {
                <div class="row border p-2">
                    <div class="col-2">@user.FirstName</div>
                    <div class="col-2">@user.LastName</div>
                    <div class="col-2">@user.Email</div>
                    <div class="col-2">@user.CreatedAt</div>
                    <div class="col-4">
                        <div class="row justify-content-end">
                            @if (item.Id == 1 || item.Id == 2)
                            {
                                <div class="col-l-4">
                                    <a class="btn btn-sm btn-primary btn-m" asp-action="Admin" asp-Controller="Role"
                                        asp-route-id="@user.Id">Admin Yap</a>
                                </div>
                            }

                            @if (item.Id == 3 || item.Id == 1)
                            {
                                <div class="col-l-4">
                                    <a class="btn btn-sm btn-warning btn-m" asp-action="Buyer" asp-Controller="Role"
                                        asp-route-id="@user.Id">Kullanıcı Yap</a>
                                </div>
                            }
                            @if (item.Id == 2 || item.Id == 3)
                            {
                                <div class="col-l-4">
                                    <a class="btn btn-sm btn-success btn-m" asp-action="Seller" asp-Controller="Role"
                                        asp-route-id="@user.Id">Satıcı Yap</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
