@model ProductDetailDTO

<div class="row">
    <div class="col-md-6 col-lg-7 p-b-30">
        <div class="p-l-25 p-r-30 p-lr-0-lg">
            <div class="wrap-slick3 flex-sb flex-w">
                <div class="wrap-slick3-dots"></div>
                <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                <div class="slick3 gallery-lb">
                    @if (Model.ProductImagesUrl != null && Model.ProductImagesUrl.Any())
                    {
                        @foreach (var img in Model.ProductImagesUrl)
                        {
                            <div class="item-slick3" data-thumb="@($"http://localhost:5112/api/File/{img.Url}")">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="@($"http://localhost:5112/api/File/{img.Url}")">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                        href="@($"http://localhost:5112/api/File/{img.Url}")">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-5 p-b-30">
        <div class="p-r-50 p-t-5 p-lr-0-lg">
            <div style="max-height: 50%;">

                @await Component.InvokeAsync("ProductRating", new { id = Model.Id })


                <span class="h4">
                    ( @(Model.ProductComments?.Count ?? 0) )

                    <h4 class="mtext-105 cl2 js-name-detail p-4">
                        @Model.Name
                    </h4>

                    <span class="mtext-106 cl2 p-4">
                        @Model.Price ₺
                    </span>

                    <p class="stext-102 cl3 p-t-23 p-4">
                        @Model.Details
                    </p>
            </div>

            <!--  -->
            <div class="p-t-33" style="font-size: 20px !important;">
                <div class="flex-w flex-r-m p-b-10">
                    <div class="size-203 flex-c-m respon6">
                        Size
                    </div>

                    <div class="size-204 respon6-next">
                        <div class="dropdown">
                            <button class="btn btn-light border dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-expanded="false" style="width: 250px !important;">
                                Beden Seç
                            </button>
                            <div class="dropdown-menu" style="width: 250px !important;">
                                <a class="dropdown-item" href="#">Size S</a>
                                <a class="dropdown-item" href="#">Size M</a>
                                <a class="dropdown-item" href="#">Size L</a>
                                <a class="dropdown-item" href="#">Size XL</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-w flex-r-m p-b-10">
                    <div class="size-203 flex-c-m respon6">
                        Renk
                    </div>

                    <div class="size-204 respon6-next">
                        <div class="dropdown">
                            <button class="btn  btn-light border dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-expanded="false" style="width: 250px !important;">
                                Renk Seç
                            </button>
                            <div class="dropdown-menu" style="width: 250px !important;">
                                <a class="dropdown-item" href="#">Red</a>
                                <a class="dropdown-item" href="#">Blue</a>
                                <a class="dropdown-item" href="#">White</a>
                                <a class="dropdown-item" href="#">Grey</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-w flex-r-m p-b-10">
                    <div class="size-204 flex-w flex-m respon6-next">
                        <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                            <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                <i class="fs-16 zmdi zmdi-minus"></i>
                            </div>

                            <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product"
                                value="1">

                            <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                <i class="fs-16 zmdi zmdi-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-w flex-r-m p-b-10">
                    <div class="size-204 flex-w flex-m respon6-next">
                        <a class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail"
                            asp-controller="Cart" asp-action="AddProduct" asp-route-id="@Model.Id">
                            <span>Sepete Ekle</span>
                        </a>
                    </div>
                </div>
                <!--  -->
                <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                    <div class="flex-m bor9 p-r-10 m-r-11">
                        <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100"
                            data-tooltip="Add to Wishlist">
                            <i class="zmdi zmdi-favorite"></i>
                        </a>
                    </div>

                    <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                        data-tooltip="Facebook">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                        data-tooltip="Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                        data-tooltip="Google Plus">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
