@model Product
@{
	ViewData["Title"] = "Product Detail";
}

<!-- breadcrumb -->
<div class="container mt-5 pt-5">
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
		<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
			Home
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>

		<a href="product.html" class="stext-109 cl8 hov-cl1 trans-04">
			Men
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>

		<span class="stext-109 cl4">
			Lightweight Jacket
		</span>
	</div>
</div>

<!-- Product Detail -->
<section class="sec-product-detail bg0 p-t-65 p-b-60">
	<div class="container">

		@await Html.PartialAsync("_ProductDetailsItem", Model)

		<div class="bor10 m-t-50 p-t-43 p-b-40" style="width: 100% !important;">
			<!-- Tab01 -->
			<div class=" tab01">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item p-b-10">
						<a class="nav-link" data-toggle="tab" href="#description" role="tab">Açıklama</a>
					</li>

					<li class="nav-item p-b-10">
						<a class="nav-link" data-toggle="tab" href="#information" role="tab">Ürün Özellikleri</a>
					</li>

					<li class="nav-item p-b-10 active">
						<a class="nav-link" data-toggle="tab" href="#reviews" role="tab">
							Yorumlar ( @(Model.ProductComments.Count) )
						</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content p-t-43">
					<!-- - -->
					<div class="tab-pane fade" id="description" role="tabpanel">
						<div class="how-pos2 p-lr-15-md">
							<p class="stext-102 cl6">
								@Model.Details
							</p>
						</div>
					</div>

					<!-- - -->
					<div class="tab-pane fade" id="information" role="tabpanel">
						<div class="row">
							<div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
								<ul class="p-lr-28 p-lr-15-sm">
									<li class="flex-w flex-t p-b-7">
										<span class="stext-102 cl3 size-205">
											Weight
										</span>

										<span class="stext-102 cl6 size-206">
											0.79 kg
										</span>
									</li>

									<li class="flex-w flex-t p-b-7">
										<span class="stext-102 cl3 size-205">
											Dimensions
										</span>

										<span class="stext-102 cl6 size-206">
											110 x 33 x 100 cm
										</span>
									</li>

									<li class="flex-w flex-t p-b-7">
										<span class="stext-102 cl3 size-205">
											Materials
										</span>

										<span class="stext-102 cl6 size-206">
											60% cotton
										</span>
									</li>

									<li class="flex-w flex-t p-b-7">
										<span class="stext-102 cl3 size-205">
											Color
										</span>

										<span class="stext-102 cl6 size-206">
											Black, Blue, Grey, Green, Red, White
										</span>
									</li>

									<li class="flex-w flex-t p-b-7">
										<span class="stext-102 cl3 size-205">
											Size
										</span>

										<span class="stext-102 cl6 size-206">
											XL, L, M, S
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- - -->
					<div class="tab-pane fade show active" id="reviews" role="tabpanel">
						<div class="row">
							<div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
								<div class="p-b-30 m-lr-15-sm">

									@await Html.PartialAsync("_ProductCommentForm", Model.Id)

								</div>
								@if (Model.ProductComments.Count > 0)
								{
									@foreach (var comment in Model.ProductComments)
									{
										@if (comment.IsConfirmed)
										{
											<div class="flex-w flex-t p-b-68">
												<div class="wrap-pic-s size-109 bor0 of-hidden m-r-18 m-t-6">
													<img src="/assets/img/avatar-01.jpg" alt="AVATAR">
												</div>

												<div class="size-207">
													<div class="flex-w flex-sb-m p-b-17">
														<span class="mtext-107 cl2 p-r-20">
															@comment.UserFk?.FirstName
															@comment.UserFk?.LastName
														</span>
														<span class="wrap-rating fs-18 cl11 pointer">
															@for (int i = 1; i <= 5; i++)
															{
																<i
																	class="item-rating pointer zmdi @(i <= comment.StarCount ? "zmdi-star" : "zmdi-star-outline")"></i>
															}
															<input class="dis-none" type="number" name="rating"
																value="@comment.StarCount">
														</span>
													</div>

													<p class="stext-102 cl6">
														@comment.Text
													</p>
												</div>
											</div>
										}
									}
								}
								else
								{
									<div class="alert alert-secondary p-4 mb-3" role="alert">
										İlk yorumu sen yap!
									</div>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bg6 flex-c-m flex-w size-302 m-t-73 p-tb-15">
		<span class="stext-107 cl6 p-lr-25">
			SKU: JAK-01
		</span>

		<span class="stext-107 cl6 p-lr-25">
			Categories: Jacket, Men
		</span>
	</div>
</section>
@await Component.InvokeAsync("RelatedProducts")
