@model AdminUserListDTO
@{
    ViewData["Title"] = "Products Approve";
}
<h1>@ViewData["Title"]</h1>
<hr>


<h3>Kullanıcı Onaylasın Mı?</h3>
<div>
    <h4>Onaylanacak Kullacı Bilgileri</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.Id)
        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.FullName)
        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.CreatedAt)
        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.RoleName)
        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CartItemCount)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.CartItemCount)
        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ProductCommentCount)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.ProductCommentCount)
        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.OrderCount)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.OrderCount)
        </dt>
    </dl>

    <form asp-action="Approve" asp-Controller="User">
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Enabled" class="control-label"></label>
                </div>
                <div class="col-sm-9">
                    <input asp-for=" Enabled" class="form-control" style="Width:20px !important;" />
                </div>
                <span asp-validation-for="Enabled" class="text-danger"></span>
            </div>
        </div>
        <input type="submit" value="Kaydet" class="btn btn-primary" />
    </form>
    <a asp-action="List" asp-Controller="User">Listeye Dön</a>
</div>