@model AdminUserListDTO
@{
    ViewData["Title"] = "Delete User";
}
<h1>@ViewData["Title"]</h1>
<hr>


<h3>Ürün Silinsin mi?</h3>
<div>
    <h4>Silinecek Ürün Bilgileri</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.Id)
        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.FullName)
        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.Enabled)
        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.CreatedAt)
        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.RoleName)
        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CartItemCount)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.CartItemCount)
        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ProductCommentCount)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.ProductCommentCount)
        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.OrderCount)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.OrderCount)
        </dt>
    </dl>

    <form asp-action="Delete">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-outline-danger" /> |
        <a asp-action="List" asp-Controller="User">Listeye Dön</a>
    </form>
</div>