@model IEnumerable<AdminUserListDTO>
@{
    ViewData["Title"] = "List of User";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col">
        @* <a asp-action="Create" asp-controller="Category" class="btn btn-outline-primary">Yeni Ekle</a> *@
    </div>
    <div class="col">
        @* <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="/Admin/Products/Index">
        <input id="ara" name="search" type="search" class="form-control form-control-dark" placeholder="Ara..."
        aria-label="Search">
        </form> *@
    </div>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartItemCount)
                Count
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCommentCount)
                Count
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderCount)
                Count
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CartItemCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCommentCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderCount)
                </td>
                <td>
                    <a class="btn btn-sm btn-@(item.Enabled?"primary":"danger") btn-m" asp-action="Approve"
                        asp-route-id="@item.Id" style="min-width: 95px !important;">
                        @(item.Enabled ? "Onayı Kaldır" : "Onayla")
                    </a>

                    <a class="btn btn-sm btn-outline-danger btn-m" asp-action="Delete" asp-route-id="@item.Id"
                        style="min-width: 95px !important;">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>