@model AdminProductListDTO
@{
    ViewData["Title"] = "Delete Product";
}

<div class="row">
    <div class="col-4">
        @if (!Model.ImageUrlList.Any())
        {
            <img src="https://via.placeholder.com/300x300" alt="Ürun resmi">
        }
        else
        {
            <div class="p-l-25 p-r-30 p-lr-0-lg">
                <div class="wrap-slick3 flex-sb flex-w">
                    <div class="wrap-slick3-dots"></div>
                    <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                    <div class="slick3 gallery-lb">
                        @if (Model != null && Model.ImageUrlList.Any())
                        {
                            @foreach (var img in Model.ImageUrlList)
                            {
                                <div class="item-slick3" data-thumb="@img">
                                    <div class="wrap-pic-w pos-relative">
                                        <img src="/UploadedFiles/@img">

                                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                            href="/UploadedFiles/@img">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-8">
        <h4>Silinecek Ürün Bilgileri</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                Id
            </dt>
            <dt class="col-sm-9">
                @Html.DisplayFor(model => model.Id)
            </dt>
        </dl>
        <dl class="row">
            <dt class="col-sm-3">
                Ürün Adı
            </dt>
            <dt class="col-sm-9">
                @Html.DisplayFor(model => model.Name)
            </dt>
        </dl>
        <dl class="row">
            <dd class="col-sm-3">
                Ürün Fiyatı
            </dd>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Price)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-3">
                Ürün Açıklaması
            </dt>
            <dt class="col-sm-9">
                @Html.DisplayFor(model => model.Details)
            </dt>
        </dl>
        <dl class="row">
            <dd class="col-sm-3">
                Ürün Stok
            </dd>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.StockAmount)
            </dd>
        </dl>
        <dl class="row">
            <dd class="col-sm-3">
                Ürün Tarihi
            </dd>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
        </dl>
        <dl class="row">
            <dd class="col-sm-3">
                Onaylı Mı?
            </dd>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Enabled)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-3">
                Satıcı Adı
            </dt>
            <dt class="col-sm-9">
                @Html.DisplayFor(model => model.SellerName)
            </dt>
        </dl>
        <dl class="row">
            <dd class="col-sm-3">
                Kategori Adı
            </dd>
            <dd class="col-sm-9">
                <div class="badge badge-primary" style="background-color:@(Model.CategoryColor);">
                    @Html.DisplayFor(model => model.CategoryName)
                </div>
            </dd>
        </dl>
        <dl class="row">
            <dd class="col-sm-3">
                Yorum Sayısı
            </dd>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CommentCount)
            </dd>
        </dl>
        <dl class="row">
            <dd class="col-sm-3">
                Sipariş Sayısı
            </dd>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.OrderCount)
            </dd>
        </dl>
        <dl class="row">
            <dd class="col-sm-3">
                Sepet Sayısı
            </dd>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CartCount)
            </dd>
        </dl>
        </dl>
        <dl class="row">
            <dd class="col-sm-3">
                @Html.DisplayNameFor(model => model.IsConfirmed)
            </dd>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.IsConfirmed)
            </dd>
        </dl>


        <form asp-action="Delete">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Sil" class="btn btn-outline-danger" /> |
            <a asp-action="List">Listeye Dön</a>
        </form>
    </div>
</div>