@model ProductComment
@{
    ViewData["Title"] = "Delete Category";
    Layout = "_AdminLayout";
}
<h1>@ViewData["Title"]</h1>
<hr>


<h3>Ürün Silinsin mi?</h3>
<div>
    <h4>Silinecek Ürün Bilgileri</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.Id)
        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.Text)
        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.StarCount)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.StarCount)
        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IsConfirmed)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.IsConfirmed)
        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.CreatedAt)
        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.UserFk!.Email)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.UserFk!.Email)
        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ProductFk!.Name)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.ProductFk!.Name)
        </dt>
    </dl>


    <form asp-action="Delete" asp-Controller="Comment">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-outline-danger" /> |
        <a asp-action="List" asp-Controller="Comment">Listeye Dön</a>
    </form>
</div>