@model IEnumerable<Category>
@{
    ViewData["Title"] = "List of Category";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col">
        <a asp-action="Create" asp-controller="Category" class="btn btn-outline-primary">Yeni Ekle</a>
    </div>
    <div class="col">
        @* <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="/Admin/Products/Index">
        <input id="ara" name="search" type="search" class="form-control form-control-dark" placeholder="Ara..."
        aria-label="Search">
        </form> *@
    </div>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IconCssClass)
            </th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                Product Count
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IconCssClass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Products.Count)
                </td>
                <td>
                    <a class="btn btn-sm btn-primary btn-m" asp-action="Edit" asp-Controller="Category"
                        asp-route-id="@item.Id">Düzenle</a>
                    <a class="btn btn-sm btn-outline-danger btn-m" asp-action="Delete" asp-Controller="Category"
                        asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>